@import url('https://fonts.googleapis.com/css?family=Lobster');

/*------------------------- Début entête -------------------------*/
Header{
    position: relative;
    min-height: 170px;

    background-image: url("Image/UQTRLogo.png");
    background-repeat: no-repeat;
    background-size:300px;
    background-position: 2% 50%;

    border-width: 1px;
    border-style: solid; 
    border-radius: 5px;  
}
/* Titre de l'entête */
Header h1  {
    font-size: 35px;
    font-family: Lobster;
    float: right;
    margin-right: 0.5em;
    margin-top: 1.5em;
}
/*------------------------- Fin entête -------------------------*/

/*------------------------- Début contenu -------------------------*/
article{
    border-width:1px;
    border-style:solid;
    border-radius: 5px;
    padding: 10px;
    margin-left: 11.5%;
    margin-top: 1em;
    display : none;
}
article:first-of-type{
    display:block;
}
table{
    width: 100%;
    white-space:nowrap;
    border-width:1px;
    border-style:solid;
    border-radius: 5px;
    border-collapse: collapse;
}
td{
    border-width:1px;
    border-style:solid;
}
th{
    border-width:1px;
    border-style:solid;
    border-color: black;
    border-collapse: collapse;
    color:white;
    background-color: lightgrey;
    cursor:pointer;
}

/* Aligne le numéro des activités et le nombre d'inscrit */
td:first-child, td:last-child{
    text-align: center;
}
/*------------------------- Fin contenu -------------------------*/

/*------------------------- Début menu -------------------------*/
nav.listMenu
{
    float: left;
    width: 11%;
}
.listMenu ul
{
    list-style-type: none;
    border-style: solid;
    padding-left: 0;
    border-radius: 3px;
    border-width: 1px;
    color: black;
}
.listMenu li
{
    padding: 4px;
    border-bottom: solid;
    border-width:1px;
}

/* Quand la souris passe sur un item du menu*/
.listMenu li:hover
{
    color: white;
    font-weight: bold;
    background-color: black;
    cursor: pointer;
}
/* Affiche le sous-menu */
.listMenu li:hover ul
{
    display: inline;
}

/* Sous-menu */
.listMenu ul li ul
{
    font-size: 0.9em;
    display: none;
    position: absolute;
    left:11%;
    width: 11%;
    background-color: white;
}

.listMenu > ul > li:last-child
{
    border: 0;
}
.listMenu > ul > li > ul > li:last-child
{
    border: 0;
}
/*------------------------- Fin menu -------------------------*/

#map{
    height: 400px;
    width: 70%;
}